.button {
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 10px;
}
.button:hover {
    box-shadow: 0px 0px 12px #7a3b3b;
    border-radius: 20px;
}

/*---------------------------SCROLL BAR-------------------------*/
     /* width */
     ::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(210, 230, 230); 
        border-radius: 10px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgba(0, 255, 255, 0.95); 
        border-radius: 10px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 255, 255, 0.7); 
      }
      /*--------------------------END OF SCROLL BAR-------------------*/

h1 {
    font-size: 30px;
    margin-bottom: 1px;
    margin-top: 30px;
}

h2 {
    color: rgb(6, 163, 103);
    font-size: 30px;
    text-align: center;
}
h4{
    color: white;
}
p {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
    color: white;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: center;
    text-align: center;
    display: inline;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: rgb(53, 53, 53);
}

div#particles-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

div#particles-bg canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}
.typetext h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: 0.1px; 
    animation: 
      typing 3.5s steps(24, end),
      blink-caret 1s step-end infinite;
  }
/*---------------------------------KEYFRAMES----------------------------------*/
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 30% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(112, 175, 218); }
  }
  @keyframes color-ani{
      0% {
          color:rgb(255, 0, 0)
      }
      10%{
          color:rgb(255, 115, 0);
      }
      20% {
          color:rgb(255, 238, 0);
      }
      30%{
          color:rgb(0, 255, 0);
      }
      40%{
          color:rgb(0, 255, 255);
      }
      50%{
          color:rgb(0, 150, 255)
      }
      60%{
          color:rgb(0, 0, 255);
      }
      70%{
          color:rgb(162, 0, 255);
      }
      80%{
          color:rgb(225, 0, 255);
      }
      90%{
          color:rgb(255, 0, 221);
      }
      100%{
          color:rgb(255, 0, 119);
      }
  }
html{
    font-family: Arial, Helvetica, sans-serif;
}
#nav {
    margin-top: 50px;
    margin-left: 40px;
    font-size: 24px;
    color: white;
}

#nav:hover {
    color: rgb(255, 66, 66);
    transition-duration: .45s;
}
::selection{
    color: rgba(0, 255, 255, 0.95);
    background-color: transparent;
}